.FRCC {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.FRCB {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.FRSB {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.FRCB {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.FRCE {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.FRSS {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.FRSC {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.FRCS {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.FRES {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}

.FCCB {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.FCSC {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.FCCS {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.FCSS {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.FCCC {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.w20 {
  width: 20px;
}

.h20 {
  height: 20px;
}

.w30 {
  width: 30px;
}

.w100 {
  width: 100%;
}

.h100 {
  height: 100vh;
}

.h100P {
  height: 100%;
}

.pT10 {
  padding-top: 10px;
}

.mT5 {
  margin-top: 5px;
}

.mT10 {
  margin-top: 10px;
}

.mT20 {
  margin-top: 20px;
}

.mB10 {
  margin-bottom: 10px;
}

.mB5 {
  margin-bottom: 5px;
}

.pR5 {
  padding-right: 5px;
}

.pR10 {
  padding-right: 10px;
}

.pR20 {
  padding-right: 20px;
}

.pL5 {
  padding-left: 5px;
}

.pL10 {
  padding-left: 10px;
}

.pL20 {
  padding-left: 20px;
}

.pX10 {
  padding-left: 10px;
  padding-right: 10px;
}

.pY5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.pY10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.pY20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.pT5 {
  padding-top: 5px;
}

.pB10 {
  padding-bottom: 10px;
}

.p5 {
  padding: 5px;
}

.p10 {
  padding: 10px;
}

.p20 {
  padding: 20px;
}

.colorAAA {
  color: #aaa;
}

.color555 {
  color: #555;
}

.color777 {
  color: #777;
}

.colorFFF {
  color: var(--pure-white);
}

.cursP {
  cursor: pointer;
}

.selectNone {
  user-select: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.noScrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.noScrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.pR {
  position: relative;
}

.mx5 {
  margin: 5px 0px;
}

.m10 {
  margin: 10px;
}

.mx10 {
  margin: 10px 0px;
}

.mY5 {
  margin: 0px 5px;
}

.mL5 {
  margin-left: 5px;
}

.mL10 {
  margin-left: 10px;
}

.mL15 {
  margin-left: 15px;
}

.mB5 {
  margin-bottom: 5px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.mR5 {
  margin-right: 5px;
}

.mR10 {
  margin-right: 10px;
}

.mR15 {
  margin-right: 15px;
}

.fs10 {
  font-size: 10px;
}

.fs12 {
  font-size: 12px;
}

.fs14 {
  font-size: 14px;
}

.w_20 {
  width: 20px;
}

.w_30 {
  width: 30px;
}

.img_20_20 {
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 100%;
}

.img_30_30 {
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 100%;
}

.img_40_40 {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 100%;
}

.img_75_75 {
  width: 75px;
  height: 75px;
  line-height: 75px;
  border-radius: 100%;
}

.alignCenter {
  text-align: center;
}

.noTextWrap {
  text-wrap: nowrap;
}

/* Custom Scrollbar for WebKit Browsers */
.custom-scrollbar {
  scrollbar-width: thin;
  /* Firefox - makes the scrollbar thin */
  scrollbar-color: #ddd #fafafa;
  /* Thumb and track color for Firefox */
}

.custom-scrollbar:hover {
  scrollbar-color: #ccc var(--pure-white-hover);
  /* Thumb and track color for Firefox when hovered */
}

/* WebKit Browsers (Chrome, Safari, Edge) */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  /* Scrollbar width */
  background-color: var(--pure-white);
  /* Gray background for the track */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: var(--pure-white);
  /* Light gray track background */
  border-radius: 10px;
  /* Rounded track for smooth look */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #5f6368;
  /* Darker gray for the thumb */
  border-radius: 10px;
  /* Rounded thumb */
  border: 1px solid var(--pure-white);
  /* Adds padding to thumb, matching track background */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #4c4f54;
  /* Slightly darker gray when hovered */
}

.custom-scrollbar::-webkit-scrollbar-thumb:active {
  background-color: #3c4043;
  /* Even darker gray when clicked */
}

.Layout {
  width: calc(100% - 75px);
  height: 100vh;
  background-color: var(--bg-color);
  overflow: hidden;
}

span {
  text-wrap: nowrap;
}

.bR_line {
  border-right: 1px solid #aaa;
  padding-right: 5px;
}

.bL_line {
  border-left: 1px solid #aaa;
  padding-left: 5px;
}

.topMinus3 {
  position: relative;
  top: -3px;
}

.bgFFF {
  background-color: var(--pure-white);
}

.fw400 {
  font-weight: 400;
}

#openCloseLeftNavigationContainer {
  border-bottom: 1px solid #eee;
  position: sticky;
  background-color: inherit;
  top: 0;
}

#openCloseLeftNavigationContainer i {
  font-size: 20px;
  color: #aaa;
  cursor: pointer;
  padding: 10px;
  margin-bottom: 10px;
}

#openCloseLeftNavigationContainer i:hover {
  color: #777;
  transition-duration: 0.25s;
}

.objectFitCover {
  object-fit: cover;
}

.objectPositionCenter {
  object-position: center;
}

@media screen and (max-width: 768px) {
  .Layout {
    width: 100%;
  }
}

.html-content-renderer b {
  font-weight: 600;
}

.html-content-renderer u {
  text-decoration: underline;
}

.html-content-renderer a {
  color: #007bff;
  text-decoration: none;
}

.html-content-renderer a:hover {
  text-decoration: underline;
  color: #000bff;
}

.html-content-renderer s,
.html-content-renderer strike,
.html-content-renderer del {
  text-decoration: line-through;
}