.FRCC {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.FRCB {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.FRCE {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.FRSS {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.FRSC {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.FRCS {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.FCCB {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.FCSC {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.FCCS {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.FCSS {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.FCCC {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.w100 {
  width: 100%;
}

.h100 {
  height: 100vh;
}

.pT10 {
  padding-top: 10px;
}

.mT10 {
  margin-top: 10px;
}

.pR10 {
  padding-right: 10px;
}

.pL10 {
  padding-left: 10px;
}

.color777 {
  color: #777;
}

.colorFFF {
  color: #fff;
}

.cursP {
  cursor: pointer;
}

.selectNone {
  user-select: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.noScrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.noScrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.pR {
  position: relative;
}

.mY5 {
  margin: 0px 5px;
}

.mL5 {
  margin-left: 5px;
}

.mR5 {
  margin-right: 5px;
}

.fs10 {
  font-size: 10px;
}
