#FeedsRightPanel{
    width: 25%;
    height: 80%;
    position: sticky;
    top: 10%;
    margin: 0px 10px;
    overflow-y: scroll;
}

@media screen and (max-width: 768px) {
    #FeedsRightPanel {
        display: none;
    }
    
}