#FeedsLeftPanel {
  width: 24.5%;
  padding: 15px;
  overflow: hidden;
  background-color: #fff;
}

#subtitle {
  padding: 10px 20px;
  font-size: 15px;
  font-weight: 400;
  border-left: 5px solid #eee;
  margin: 25px 0px 10px 0px;
}

#subtitle:hover {
  border-left: 5px solid #007bff;
  transition-duration: 0.25s;
}

#subtitle:hover span {
  color: #007bff;
}

@media screen and (max-width: 768px) {
  #FeedsLeftPanel {
    display: none;
  }
}
