#list_of_people {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;

  gap: 15px 10px;
  overflow-y: auto;
  max-height: calc(100vh - 55px);
  padding-bottom: 50vh;
}
