#LeftNavigation {
  width: 75px;
  height: 100vh;
  overflow: hidden;
  background-color: purple;
}

.LeftNavigationItem {
  padding: 15px 0px;
  width: 100%;
  border-radius: 10px;
}

.LeftNavigationItem i {
  padding-bottom: 10px;
}

.LeftNavigationItem:hover {
  background-color: rgb(104, 1, 104);
  border-radius: 0px;
}

.activeNav {
  cursor: default;
  background-color: rgb(104, 1, 104);
}
