#app_logo {
  width: 75px;
  height: 75px;
  margin: 10px 0px;
  cursor: pointer;
}

#app_logo img {
  width: 100%;
}

#LeftNavigation {
  width: 75px;
  height: 100vh;
  overflow: hidden;
  background-color: var(--primary-color);
}

.LeftNavigationItem {
  position: relative;
  padding: 15px 0px;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
}

.LeftNavigationItem i {
  height: 26px;
  padding-bottom: 10px;
}

.LeftNavigationItem img {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  margin-bottom: 10px;
}

.LeftNavigationItem span {
  font-size: 12px;
}

.LeftNavigationItem:hover {
  background-color: var(--primary-color-active);
  border-radius: 0px;
}

.activeNav {
  cursor: default;
  background-color: var(--primary-color-active);
}

#closeLeftNav {
  display: none;
}

.LeftNavigationItem .notifyCount {
  position: absolute;
  top: 10px;
  right: 17px;
  background-color: var(--count-label-color);
  color: var(--pure-white);
  border-radius: 100%;
  min-width: 15px;
  min-height: 15px;
  max-width: 18px;
  max-height: 18px;
  line-height: 15px;
  text-align: center;
  font-size: 9px;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  #app_logo {
    display: none;
  }

  #LeftNavigationOverlay {
    width: 100%;
    background-color: var(--overlay-bg-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    height: 100%;
    display: none;
  }

  #LeftNavigation {
    width: 50%;
    height: 100%;
    display: flex;
    position: relative;
    right: 50%;
    justify-content: space-between;
    align-items: center;
  }

  .LeftNavigationItem {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
  }

  .LeftNavigationItem i {
    padding-bottom: 0px;
    padding-right: 20px;
  }

  .LeftNavigationItem img {
    margin: 0;
    margin-right: 20px;
    width: 25px;
    height: 25px;
  }

  .LeftNavigationItem:hover {
    background-color: var(--primary-color);
    border-radius: 0px;
  }

  #closeLeftNav {
    display: block;
    padding: 20px;
    color: var(--pure-white);
    text-align: right;
  }
}