#app_logo {
  width: 75px;
  height: 75px;
  margin: 10px 0px;
  cursor: pointer;
}

#app_logo img {
  width: 100%;
}

#LeftNavigation {
  width: 75px;
  height: 100vh;
  overflow: hidden;
}

.LeftNavigationItem {
  padding: 15px 0px;
  width: 100%;
  border-radius: 10px;
}

.LeftNavigationItem i {
  padding-bottom: 10px;
}

.LeftNavigationItem img {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  margin-bottom: 10px;
}

.LeftNavigationItem span {
  font-size: 12px;
}

.LeftNavigationItem:hover {
  background-color: #273144;
  border-radius: 0px;
}

.activeNav {
  cursor: default;
}

#closeLeftNav {
  display: none;
}

@media screen and (max-width: 768px) {
  #app_logo {
    display: none;
  }

  #LeftNavigationOverlay {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    height: 100%;
    display: none;
  }

  #LeftNavigation {
    width: 50%;
    height: 100%;
    display: flex;
    position: relative;
    right: 50%;
    justify-content: space-between;
    align-items: center;
  }

  .LeftNavigationItem {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
  }

  .LeftNavigationItem i {
    padding-bottom: 0px;
    padding-right: 20px;
  }

  .LeftNavigationItem img {
    margin: 0;
    margin-right: 20px;
    width: 25px;
    height: 25px;
  }

  .LeftNavigationItem:hover {
    background-color: #3f4c68;
    border-radius: 0px;
  }

  #closeLeftNav {
    display: block;
    padding: 20px;
    color: #fff;
    text-align: right;
  }
}
