#ListOfChats {
  width: 20%;
  height: 100%;
  overflow-y: auto;
  background-color: var(--pure-white);
}

#searchPinnedFixedContainer {
  position: sticky;
  padding: 5px 0px;
  top: 0;
  background-color: var(--pure-white);
  z-index: 2;
  box-shadow: 0px 4px 4px var(--box-shadow-color);
}

@media screen and (max-width: 768px) {
  #ListOfChats {
    width: 100%;
  }
}