#PinnedUsers {
  width: 100%;
  padding: 0px 10px;
  overflow-x: scroll;
}

#PinnedUsersFrame {
  display: flex;
  flex-direction: row;
  width: max-content;
}

.PinnedUserContainer {
  width: 50px;
  height: 70px;
  margin: 5px 10px;
  cursor: pointer;
  overflow: hidden;
}

.PinnedUserContainer div {
  width: 100%;
  height: 50px;
}

.PinnedUserContainer img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.PinnedUserContainer .user-avatar-placeholder-first-character {
  width: 50px;
  height: 50px;
}

.PinnedUserContainer span {
  text-wrap: nowrap;
  text-align: center;
  width: 100%;
  font-size: 11px;
  padding-top: 3px;
  color: #555;
}


@media screen and (max-width: 768px) {
  #PinnedUsers {
    padding: 0px 5px;
  }

  .PinnedUserContainer {
    width: 50px;
    height: 70px;
  }

  .PinnedUserContainer img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
  }

  .PinnedUserContainer span {
    font-size: 10px;
  }
    
}