#RecentChats {
  /* max-height: calc(100vh - 190px); */
}

.RecentChatContainer {
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid #ddd;
  padding: 10px;
  height: 70px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-left: 5px solid transparent;
}

.RecentChatContainer.active {
  background-color: var(--bg-color);
  border-left: 5px solid var(--primary-color);
}

.RecentChatContainer:not(.active):hover {
  background-color: var(--pure-white-hover);
  transition-duration: 0.25s;
}

.RecentChatContainer img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin-right: 10px;
  margin-left: 5px;
  object-fit: cover;
  object-position: center;
}

.RecentChatContainer .user-avatar-placeholder-first-character {
  margin: 0px 10px 0px 5px;
}

.RecentChatContainer .name {
  font-size: 14px;
  line-height: 24px;
  text-wrap: nowrap;
  max-width: 75%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 600;
}

.RecentChatContainer .createdAt {
  font-size: 10px;
  line-height: 20px;
}

.RecentChatContainer .message {
  font-size: 12px;
  color: #555;
  line-height: 24px;
  text-wrap: nowrap;
  max-width: 90%;
  overflow: hidden;
}

.RecentChatContainer .profile_picture {
  position: relative;
}

.number_of_unread_messages {
  font-size: 10px;
  background-color: #999;
  color: var(--pure-white);
  border-radius: 50px;
  width: 15px;
  height: 15px;
  line-height: 15px;
  text-align: center;
}

.user_status {
  position: absolute;
  bottom: 5%;
  right: 5%;
  font-size: 12px;
}

.sent_by_me {
  font-weight: 400;
}

.name_message_date {
  overflow: hidden;
  margin-left: 5px;
}

@media screen and (max-width: 768px) {
  #RecentChats {
    padding-top: 5px;
  }

  .RecentChatContainer {
    padding: 10px 15px;
  }

  .RecentChatContainer img {
    width: 40px;
    height: 40px;
  }

  .RecentChatContainer .name {
    font-size: 12px;
  }

  .RecentChatContainer .createdAt {
    font-size: 9px;
  }

  .RecentChatContainer .message {
    font-size: 10px;
  }

  .number_of_unread_messages {
    font-size: 8px;
    width: 10px;
    height: 10px;
    line-height: 10px;
  }

  .user_status {
    font-size: 10px;
    padding: 0px;
  }
}