#uploadButton {
  background-color: rgb(153, 103, 11);
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

#uploadButton i,
#uploadButton span {
  color: var(--pure-white);
  font-size: 14px;
}

.FileManagerItem {
  border: 1px solid #aaa;
  padding: 7px 15px;
  border-radius: 10px;
}

.FileManagerItem i,
.FileManagerItem span {
  color: #555;
  font-size: 14px;
}

.FileManagerItem span {
  font-family: system-ui;
}

.FileManagerItemActive {
  background-color: rgb(70, 92, 138);
  color: var(--pure-white);
  border-color: transparent;
}

.FileManagerItemActive i {
  color: var(--pure-white);
}

.FileManagerItemActive span {
  color: var(--pure-white);
}