#PreviewFolderFileList {
  overflow: hidden;
  padding-left: 0;
}

#PreviewFolderFileList .subHeading {
  color: #555;
  font-size: 14px;
  margin-top: 5px;
  font-weight: 400;
}

#PreviewFolderFileList .subHeading.active {
  text-decoration: underline;
  color: #053cff;
  font-weight: 600;
}

#PreviewFolderFileList #list_of_items {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
}

#list_of_items_frame {
  width: fit-content;
  flex-wrap: nowrap;
}

.PreviewFolderFileListItem {
  border: 1px solid #aaa;
  background-color: #fff;
  border-radius: 10px;
  padding: 15px;
  width: 250px;
  transition-duration: 0.25s;
}

.PreviewFolderFileListItem div div .folderName {
  width: calc(100% - 40px);
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 14px;
}

.PreviewFolderFileListItem:hover {
  border-color: #777;
  background-color: #fafafa;
}

.icon_foldername {
  width: 95%;
}
