#create-group-modal {
    background-color: var(--overlay-bg-color);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;
}

#create-group-modal-content.modal-box {
    background-color: var(--pure-white);
    box-shadow: 0 4px 12px var(--box-shadow-color);
    padding: 2rem;
    border-radius: 10px;
    width: 400px;
    text-align: center;
    color: var(--text-color);
}

.modal-box h2 {
    padding-bottom: 10px;
    margin-bottom: 20px;
    color: var(--primary-color);
    border-bottom: 1px solid #eee;
    width: 100%;
}

.group-name-input,
.group-description-input {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1.2rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 13px;
    outline: none;
}

.group-name-input:focus,
.group-description-input:focus {
    border-color: var(--primary-color);
}

.visibility-toggle-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.toggle-label {
    color: #777;
    font-size: 14px;
}

.segmented-toggle {
    position: relative;
    background-color: var(--pure-white-hover);
    border-radius: 999px;
    display: flex;
    padding: 2px;
    width: 240px;
    justify-content: space-between;
    align-items: center;
}

.toggle-option {
    flex: 1;
    z-index: 1;
    text-align: center;
    padding: 8px 0;
    border-radius: 999px;
    font-weight: 400;
    font-size: 13px;
    color: #999;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 0.2s ease;
}

.toggle-option.active {
    color: var(--pure-white);
}

.toggle-bg {
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: var(--badge-color);
    /* Use yellow theme */
    border-radius: 999px;
    top: 0;
    left: 0;
    transition: all 0.3s ease;
    z-index: 0;
}

.toggle-bg.right {
    left: 50%;
}

#create-group-modal-content div button {
    margin-top: 20px;
    padding: 10px 15px;
    background-color: var(--primary-color);
    color: var(--pure-white);
    border: none;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

#create-group-modal-content div .submit-btn:hover {
    background-color: var(--primary-color-active);
}

#create-group-modal-content div button.cancel-btn {
    background-color: #ccc;
    color: var(--text-color);
}

#create-group-modal-content div .cancel-btn:hover {
    background-color: #bbb;
}