#permission-modal {
    position: fixed;
}

#permission-modal-content {
    background-color: var(--pure-white);
    width: 500px;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    right: -500px;
    animation: slideIn 0.3s ease-in-out forwards;
}

@keyframes slideIn {
    from {
        right: -500px;
    }
    to {
        right: 0;
    }
}

#permission-modal-content #title {
    font-size: 17px;
    font-weight: 600;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: var(--primary-color);
    border: 1px solid #eee;
    width: 100%;
    background-color: #fff;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
    position: sticky;
    top: 0;
    z-index: 2;
    box-shadow: 0 2px 4px var(--box-shadow-color);
}

#permissions-table {
    width: 100%;
    border-collapse: collapse;
    /* padding: 20px; */
}

#permissions-table tr {
    border-bottom: 1px solid #eee;
}

#permissions-table tr th,
#permissions-table tr td {
    padding: 12px;
    text-align: center;
    width: 20%;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#permissions-table tr td:nth-child(1) {
    width: 40%;
    text-align: left;
    font-size: 14px;
    font-family: 'system-ui';
    padding-left: 20px;
    color: #555;
}

#permissions-table tr th {
    background-color: #f2f2f2;
    color: #555;
    font-weight: 500;
    font-size: 14px;
    cursor: default;
}

#permissions-table tr td span {
    cursor: pointer;
    text-align: center;
    padding: 3px;
    border-radius: 5px;
}

#permissions-table thead {
    position: sticky;
    top: 47px;
}

#permissions-table thead tr {
    padding-top: 40px;
}

.checkmark span {
    background-color: #fafafa;
    border: 1px solid #f5f5f5;
}

.checkmark .checked {
    color: green;
}

.checkmark .crossed {
    color: red;
}

#permissions-table tbody tr:hover {
    background-color: #f9f9f9;
}