.user-preview {
    border-bottom: 1px solid #eee;
    padding: 10px 15px;
    box-sizing: border-box;
    background-color: var(--pure-white);
    cursor: pointer;
}

.user-preview:hover {
    background-color: var(--pure-white-hover);
}

.user-preview div {
    width: 70%;
}

.user-preview h6 {
    font-size: 14px;
    color: #333;
    margin: 0;
    font-weight: 400;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: calc(100% - 60px);
}