#FilterComponent {
  width: 65%;
  overflow-x: scroll;
}

.FilterComponentItem {
  background-color: var(--pure-white);
  border-radius: 5px;
  margin: 5px;
  position: relative;
  left: -5px;
}

.FilterComponentItem i {
  position: absolute;
  left: 0px;
  top: -1px;
  color: #aaa;
}

.FilterComponentItem select {
  border: none;
  padding: 5px 10px 5px 30px;
  background-color: var(--pure-white);
  cursor: pointer;
  color: #555;
  width: 150px;
}

.FilterComponentItem select option {
  background-color: var(--pure-white);
  color: #555;
  cursor: pointer;
}