#createRecord {
  background-color: rgb(153, 103, 11);
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

#createRecord i,
#createRecord span {
  color: #fff;
  font-size: 14px;
}
