#SearchComponent {
  width: 30%;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}

#change_view {
  padding: 10px;
  border-radius: 5px;
  width: 60px;
  cursor: pointer;
  border: none;
  margin-right: 10px;
  color: #555;
  background-color: #fff;
}

#searchDiv {
  position: relative;
  width: 100%;
}

#searchDiv i {
  position: absolute;
  top: 12px;
  left: 15px;
  font-size: 13px;
  color: #999;
}

#searchDiv input {
  border: 1px solid transparent;
  border-radius: 5px;
  width: 100%;
  transition-duration: 0.25s;
  padding: 10px 10px 10px 40px;
  outline: none;
}

#searchDiv input:focus {
  border-color: #aaa;
}
