#SearchComponent {
  width: 20%;
  background-color: #fff;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}

#SearchComponent i {
  position: absolute;
  top: 12px;
  left: 15px;
  font-size: 13px;
  color: #999;
}

#SearchComponent input {
  border: 1px solid transparent;
  border-radius: 10px;
  width: 100%;
  transition-duration: 0.25s;
  padding: 10px 10px 10px 40px;
  outline: none;
}

#SearchComponent input:focus {
  border-color: #aaa;
}
