.TeamLeftContainerItem {
  user-select: none;
  border-radius: 5px;
}

.active-tab {
  background-color: var(--primary-color);
}

.TeamLeftContainerItem i {
  width: 25px;
  text-align: center;
  height: 25px;
  line-height: 25px;
}

.TeamLeftContainerItem .title_notify {
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.TeamLeftContainerItem .title_notify .title {
  font-size: 14px;
  text-wrap: nowrap;
  width: calc(100% - 20px);
  text-overflow: ellipsis;
  overflow: hidden;
}

.TeamLeftContainerItem .title_notify .notify_count {
  font-size: 12px;
  color: var(--pure-white);
  text-align: center;
  width: 12px;
  line-height: 12px;
  height: 12px;
  background-color: #777;
  border-radius: 100%;
}

.TeamLeftContainerItem:not(.active-tab):hover {
  background-color: #eee;
}

.TeamLeftContainerItem:not(.active-tab):hover .title,
.TeamLeftContainerItem:not(.active-tab):hover i {
  color: #111;
}

.active-tab .title_notify span,
.active-tab i {
  color: var(--pure-white);
}

.TeamLeftContainerItem div .notifyCount {
  position: absolute;
  top: 0px;
  right: -3px;
  background-color: var(--count-label-color);
  width: 12px;
  height: 12px;
  line-height: 12px;
  color: var(--pure-white);
  border-radius: 100%;
  text-align: center;
  font-size: 8px;
  overflow: hidden;
}