.attachments-container {
    width: 100%;
    background: var(--pure-white);
    border-radius: 8px;
}

.add-attachment-btn {
    background-color: var(--secondary-color);
    color: var(--pure-white);
    border: none;
    padding: 0.6rem 1rem;
    font-size: 14px;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: background-color 0.2s ease-in-out;
}

.add-attachment-btn:hover {
    background-color: var(--secondary-color-active);
}

.attachments-list {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.attachment-item {
    background: var(--pure-white-hover);
    border-radius: 8px;
    padding: 10px;
    display: flex;
    align-items: center;
    width: 200px;
    box-shadow: 0 2px 5px var(--box-shadow-color);
    justify-content: space-between;
}

.file-preview {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.file-thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.file-icon {
    font-size: 22px;
    color: var(--primary-color);
}

.file-info {
    flex: 1;
    margin: 0 10px;
    overflow: hidden;
}

.file-name {
    display: block;
    font-size: 12px;
    font-weight: 500;
    color: var(--text-color);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
}

.file-size {
    font-size: 10px;
    font-weight: 400;
    color: var(--secondary-color);
}

.remove-btn {
    background: transparent;
    border: none;
    font-size: 14px;
    cursor: pointer;
    color: #aaa;
    padding: 5px;
}

.remove-btn:hover {
    color: rgb(255, 135, 135);
}