#create-new-post-overlay {
  width: 100%;
}

/* Remove all transitions and animations globally inside the editor */
.ql-container *,
.ql-toolbar * {
  transition: none !important;
  animation: none !important;
}


#create-new-post-overlay.fullscreen-post-creation {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  background-color: var(--overlay-bg-color);
}

.post-container {
  width: 100%;
  padding: 20px 25px;
  background-color: var(--pure-white);
  box-shadow: 0 4px 8px var(--box-shadow-color);
  border-radius: 12px;
  margin-bottom: 20px;
}

.fullscreen-post-creation .post-container {
  position: fixed;
  width: 75vw;
  height: 70vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

.post-label {
  font-size: 18px;
  font-weight: 500;
  color: var(--primary-color);
  margin-bottom: 10px;
}

#expand-post-creation {
  font-size: 12px;
  padding: 8px 12px;
  cursor: pointer;
  color: #999;
}

#expand-post-creation:hover {
  color: var(--primary-color);
}

#post-input-section {
  gap: 15px;
  height: calc(100% - 100px);
  margin-bottom: 15px;
}

#post-input-wrapper {
  height: 100%;
}

#post-title-input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 10px;
  padding: 10px 15px;
  border-radius: 8px;
  font-family: 'system-ui';
  background-color: var(--pure-white);
  border: 1px solid #ccc;
}

#post-title-input:focus {
  background-color: #fafafa;
}

#post-input {
  height: calc(100% - 85px);
}

#create-post-tags {
  gap: 3px;
  flex-wrap: wrap;
  margin-top: 55px;
}

.create-post-tag {
  background-color: var(--pure-white-hover);
  color: var(--primary-color);
  padding: 3px 8px;
  border-radius: 10px;
  font-size: 12px;
  margin-right: 3px;
  cursor: pointer;
}

.create-post-tag i {
  font-size: 10px;
  color: #aaa;
  width: 12px;
  text-align: center;
}

.create-post-tag:hover {
  background-color: #eee;
  color: var(--primary-color-active);
}

.create-post-tag i:hover {
  color: #333;
}

#create-tag-input {
  border: none;
  outline: none;
  padding: 3px 8px;
  font-size: 12px;
  max-width: max-content;
}

.user-avatar {
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid var(--primary-color);
}

.fullscreen-post-creation .ql-editor {
  height: 100%;
}

.ql-editor {
  max-height: 120px;
}

.fullscreen-post-creation .ql-editor {
  height: calc(100% - 0px);
  max-height: none;
}

.post-footer {
  padding-top: 10px;
  border-top: 1px solid #ddd;
  flex-wrap: nowrap;
}

.post-actions {
  flex-wrap: wrap;
  gap: 10px;
}

.actions_post_creation {
  font-size: 14px;
  color: var(--primary-color);
  cursor: pointer;
  padding: 5px;
  background-color: var(--pure-white-hover);
  border-radius: 6px;
}

.actions_post_creation:hover {
  background-color: #eee;
}

.actions_post_creation span {
  color: #555;
  font-size: 12px;
}

.actions_post_creation i {
  font-size: 12px;
  color: #555;
}

.share-wrapper {
  position: relative;
  display: inline-block;
}

#share-post-button-wrapper {
  background-color: var(--primary-color);
}

.share-main,
#share-chevron {
  padding: 8px 8px 8px 16px;
  font-weight: 600;
  font-size: 12px;
  border: none;
  cursor: pointer;
  color: white;
  background-color: var(--primary-color);
  /* transition: background-color 0.2s ease; */
  outline: none;
}

.share-main:hover,
#share-chevron:hover {
  background-color: var(--primary-color-active);
}

#share-chevron {
  text-align: center;
  color: #fff;
  padding: 8px 16px 8px 8px;
}

.schedule-slide {
  overflow: hidden;
  max-height: 0;
  /* transition: max-height 0.3s ease, opacity 0.3s ease; */
  opacity: 0;
  position: absolute;
}

.schedule-slide.slide-visible {
  max-height: 100px;
  opacity: 1;
}

.schedule-btn {
  width: 100%;
  padding: 8px 16px;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-top: 1px solid #999;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  text-align: left;
  font-size: 12px;
  /* transition: background-color 0.2s; */
}

.schedule-btn:hover {
  background-color: var(--primary-color-active);
}

#cancel-post-button {
  background-color: #eee;
  border: none;
  color: #333;
  font-weight: 500;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  margin-right: 10px;
}

#cancel-post-button:hover {
  background-color: #ddd;
}

@media screen and (max-width: 768px) {
  .actions_post_creation span {
    display: none;
  }

  #shareMyThoughtButton {
    padding: 5px 12px;
    font-size: 13px;
  }
}