#PostsLikedByOverlay {
    background-color: var(--overlay-bg-color);
    z-index: 11;
    position: fixed;
    top: 0;
    left: 0;
}

#PostsLikedByContainer {
    background-color: var(--pure-white);
    width: 350px;
    border-radius: 5px;
    height: 500px;
    overflow: scroll;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 1px 2px var(--box-shadow-color);
}

#PostsLikedByContainer>h5 {
    padding: 10px;
    border-bottom: 1px solid #eee;
    position: sticky;
    top: 0;
    color: #555;
    font-size: 16px;
    font-weight: 500;
    background-color: var(--pure-white);
    box-shadow: 0 1px 2px var(--box-shadow-color);
}
