#PostYourThoughts {
  border-radius: 10px;
  padding: 25px;
  background-color: #fff;
  /* position: sticky;
  top: 10px; */
}

#PostYourThoughts label {
  font-size: 16px;
  font-weight: 400;
  color: #555;
  margin-bottom: 20px;
}

#PostYourThoughts #img_text_file textarea {
  width: calc(100% - 50px);
  height: fit-content;
  padding: 10px 10px;
  border: none;
  margin-bottom: 20px;
  max-lines: 9;
  overflow: hidden;
  resize: none;
}

#shareMyThoughtButton {
  padding: 9px 20px;
  border: none;
  background-color: blue;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
}

#PostYourThoughts .actions_post_creation {
  color: #555;
  padding: 5px 10px;
  margin-left: -10px;
  margin-right: 15px;
  cursor: pointer;
  font-size: 13px;
  border-radius: 5px;
}

#PostYourThoughts .actions_post_creation i {
  padding-right: 5px;
}

#PostYourThoughts .actions_post_creation:hover {
  background-color: #f0f0f0;
}

@media screen and (max-width: 768px) {
  .actions_post_creation span {
    display: none;
  }

  #shareMyThoughtButton {
    padding: 5px 12px;
    font-size: 13px;
  }
}
