#create-post-mentions {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
}

#create-post-mentions #mention-label-select {
    border: none;
    outline: none;
    padding: 5px 8px;
    font-size: 12px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #f5f5f5;
    color: #555;
    cursor: pointer;
    margin: 0px 5px;
}

#create-post-mentions #search-users-container #search-user-input-container {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-top: none;
    border-radius: 0;
}

#create-post-mentions #search-users-container #search-user-input-container.showing-suggestions {
    border-color: #ccc;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}