.mediaContainer {
    margin-top: 15px;
    overflow: hidden;
}

.mediaContainer .resource-not-found {
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
    text-align: center;
    font-size: 12px;
    border-radius: 5px;
    max-height: 350px;
    min-height: 100px;
    user-select: none;
    overflow: hidden;
    margin: 2.5px;
}

.mediaContainer .resource-not-found i,
.mediaContainer .resource-not-found span {
    color: #888;
}

.media_image {
    max-height: 350px;
    height: 100%;
    object-position: center;
    object-fit: cover;
    cursor: pointer;
    border-radius: 5px;
}

.media_image:not(.partially-visible):hover {
    filter: brightness(0.9);
    transform: scale(1.01);
}

.one_image_container {
    height: 100%;
}

.two_images_container img:first-child {
    margin-right: 2.5px;
}

.two_images_container img:last-child {
    margin-left: 2.5px;
}

.more-imagesoverlay {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    font-weight: bold;
    background-color: #333;
    opacity: 0.75;
    border-radius: 5px;
    pointer-events: none;
}

.more-imagesoverlay span {
    color: white;
}

.more-imagesoverlay:hover span {
    transform: scale(1.05);
}

.more_than_two_images_container>div {
    overflow: hidden;
    border-radius: 5px;
}

.more_than_two_images_container .small-image-container {
    margin-left: 5px;
    width: 100%;
}

.more_than_two_images_container .small-image-container:first-child {
    margin-bottom: 2.5px;
}

.more_than_two_images_container .small-image-container:last-child {
    margin-top: 2.5px;
}