.Post {
  background-color: var(--pure-white);
  margin-top: 15px;
  border-radius: 10px;
  padding: 10px 20px 20px 20px;
}

.Post .PostBody .postTitle {
  font-size: 18px;
  margin-top: 10px;
  font-weight: 500;
}

.Post .PostBody .postContent {
  font-size: 14px;
  margin-top: 10px;
  color: #333;
  line-height: 1.5;
}

.Post .PostFooter {
  margin-top: 10px;
  padding-top: 10px;
}

.Post .PostFooter .postActions {
  cursor: pointer;
  font-size: 13px;
}

.Post .PostFooter .postActions i {
  width: 18px;
  text-align: center;
}

.Post .PostFooter .postActions:hover {
  transform: scale(1.1);
}

.Post .PostFooter .leftFooter {
  margin-right: 5px;
  border-right: 1px solid #ddd;
  padding-right: 10px;
}

.Post .PostFooter .rightFooter {
  margin-left: 5px;
  border-left: 1px solid #ddd;
  padding-left: 10px;
}

.post-liked {
  color: #d28733;
}

.post-liked i {
  font-weight: 600;
  color: #d28733;
}

.post-bookmarked i {
  color: #e1842e;
}

.tagsContainer {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}

.tagsContainer .tagNavLink {
  color: #2e67e1;
  font-size: 13px;
  margin-right: 5px;
  cursor: pointer;
  margin-bottom: 3px;
}

.tagsContainer .tagNavLink:hover {
  text-decoration: underline;
  color: #1a4bb8;
}

@media screen and (max-width: 768px) {

  #closeFullScreen {
    top: 20px;
    right: 20px;
  }
}