.manage-people-container {
    padding: 20px;
    overflow: scroll;
    font-family: 'Segoe UI', sans-serif;
}

#manage-people-header input {
    width: 50%;
}

.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.add-btn {
    background: var(--primary-color);
    color: white;
    padding: 10px 16px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.add-btn i {
    width: 25px;
}

#invitation-icon {
    background-color: var(--primary-color);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
}

#invitation-icon:hover,
.add-btn:hover {
    background-color: var(--primary-color-active);
    transition-duration: 0.25s;
}

.search-input {
    width: 100%;
    padding: 12px 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.search-input:focus {
    outline: none;
    border-color: var(--overlay-bg-color);
    transition-duration: 0.25s;
}